* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: rgb(57, 178, 149);
}

.container {
  margin: auto;
  width: 90%;
}

.shopping-cart-size {
  font-size: 1.3rem;
}

.pg-inicial {
  display: flex;
  margin-top: 1rem;
}

.searchbar {
  align-items: center;
  display: flex;
  margin: auto;
  margin-left: 20px;
  width: 100%;
}

.search-input {
  margin-right: 15px;
  width: 100%;
}

.content {
  margin: 15px auto;
  max-width: 1100px;
  width: 80%;
}

.container.header {
  background-color: rgb(57, 178, 149);
  height: 4rem;
  padding: 0.2rem;
}

.loading {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  animation: Loading 1.5s;
  font-size: 3rem;
}

.loading i {
  animation: CartShake 1s infinite;
  width: 50px;
}

@keyframes Loading {
  from {
    letter-spacing: -15px;
    opacity: 0.5;
  }

  to {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes CartShake {
  0% { transform: rotate(-10deg); }

  50% { transform: rotate(10deg); }

  100% { transform: rotate(-10deg); }
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-top: 20px;
}

img.logo {
  max-height: 50px;
}

.header-title {
  margin-left: -70px;
}

.default-text {
  font-size: 1.7rem;
  margin-top: 60px;
  opacity: 0.7;
  text-align: center;
}

.header-link, .header-link:hover {
  align-items: center;
  color: black;
  display: flex;
}

.header > * {
  margin-top: 5px;
}
